#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  transition: padding-top 0.3s ease;
}

.header {
  position: fixed;
  top: 0;
  left: 3px;
  right: 3px;
  background: linear-gradient(to right, #21D1B1, #1DB498, #189881, #147C69, #0F6051, #0B4439, #062821);
  padding: 0; 
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0; 
  height: 60px; 
}

.app-name {
  margin-left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3); 
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-size: 1.25rem; 
  line-height: 1.5rem; 
  display: flex;
  align-items: center; 
  height: 100%; 
}

.menu-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0;
  height: 100%;
  display: flex;
  align-items: center; 
}



.menu {
  overflow: hidden;
  transition: height 0.3s ease;
}

.menu.closed {
  height: 0;
}

.menu.open {
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.menu ul li {
  padding: 0.5rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu ul li a:hover {
  text-decoration: underline;
}

body {
  transition: padding-top 0.3s ease;
}

.article-page {
  padding-top: 80px;
}

.articles-list,
.topic-articles-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
  padding-top: 60px;
  position:relative;
  top: 0;
  left: 3px;
  right: 3px;
  }

.article-card {
  background-color: white;
  padding: 1rem;
  text-align:left;
  color: #062821;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.sort-options {
  position: absolute; 
  top: 0; 
  right: 1rem; 
  background-color: #fff; 
  padding: 0.5rem 1rem; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 5px; 
  z-index: 100; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }
.topics-page {
  text-align: center;
  }
  
.topics-page ul {
  list-style-type: none;
  padding: 0;
}

.topics-page ul li {
  display: inline-block;
  margin: 0.5rem;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}

@media (max-width: 768px) {
  .article-card {
  flex: 1 1 calc(100% - 1rem);
  }
  }
  
  .card {
  padding: 2em;
  }
  
  .read-the-docs {
  color: #888;
  }
  